<div id="About" height="600" width="500">
<h1>History Of Temple<h1>	
<h2>The most important feature in this temple is the special grace that the lord bestows on the mentally unsound. The temple priests splash holy water on all the devotees, first on the mentally unsound, twice a day to cure them of their problems, and then on the others. The pujas are done here as per the Vaikanasa tradition. Devotees from Chennai can conveniently reach Tiruchirappalli by rail and take a direct bus to Gunaseelam. The temple has three 'choultries’ and one for the mentally unsound to stay. It is believed that staying for 48 days and taking the "Theertham" twice a day will cure insanity. The beauty of the deity beckons one and all.

Gunaseelam is a re-birth place for those who are suffering from mental and physical ailments where in Sri Prasanna Venkatachalapathi has played the role of curing from all such ailments. If you or your friend has a family member with any such ailment and you want to gift them a re-birth with strong physical and mental health , you could have a look at this before you make a visit to Gunaseelam with your family member.
</h2>


</div>